{% extends 'layout.html' %} {% block content %}
<form id="reset-form" action="reset-password/:token" method="post">
    <fieldset>
        <legend>비밀번호 재설정</legend>
        <div class="reset">
            <h3>비밀번호를 재설정 해주세요~</h3>
            <label for="">비밀번호</label>
            <input id="userpwd" type="password" name="userpwd" />
            <button id="resetpwd" type="submit">재설정</button>
        </div>
    </fieldset>
</form>
{% endblock %} {% block script %}
<script></script>
{% endblock %}
