.login-container {
  min-width: 930px;
  text-align: center;
}
#login-form {
  margin: 0 auto;
  width: 600px;
}
.logIn {
  font-size: 40px;
}
.login-container legend {
  font-weight: bold;
}
.login-container a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.login-fieldset {
  margin-top: 10px;
  padding: 20px;
  border: 1px;
  border-color: rgb(32, 32, 32);
  background-color: rgb(248, 248, 248);
}

.login-sns-btn {
  margin-top: 10px;
  margin-left: 25%;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  border: none;
  background-color: white;
}

#login {
  width: 300px;
  height: 40px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px auto;
  font-size: 15px;
}
.login-label {
  width: 70px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}
.login-container button {
  display: block;
}
.idpwdFind {
  font-size: 13px;
  width: auto;
}
#userid,
#userpwd {
  width: 200px;
  height: 30px;
  margin-bottom: 5px;
  font-size: 15px;
  margin-top: 0px;
}
label {
  font-size: 15px;
  margin: 5px;
  font-weight: bold;
}

.differentLogin {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 8px 0px;
  margin-bottom: 30px;
}
.differentLogin::before {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

.differentLogin::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

/* join */
#userform {
  margin: 0 auto;
  width: 1100px;
}
fieldset {
  border: none;
}
ul {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 50px;
}
li {
  margin-top: 50px;
}

.joinFont {
  font-size: 40px;
}
#overlap {
  color: rgb(109, 109, 109);
  font-size: 12px;
}
.joinform input {
  margin-top: 5px;
  width: 250px;
  height: 30px;
}
