
{% extends '../layout.html' %} {% block style %}
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<link rel="stylesheet" href="/detailClass.css" />
<style>
    * {
        list-style: none;
    }

    .detailclass-form {
        margin-top: 40px;
    }

    .upComment {
        display: none;
    }

    .cancelBtn {
        display: none;
    }

    .inputBtn {
        display: none;
    }

    fieldset {
        border: none;
    }

    #commentNumber {
        display: none;
    }

    fieldset {
        margin-top: 30px;
    }



    legend {
        font-size: 18px;
        color: rgb(77, 78, 78);
        margin-bottom: 20px;
    }

    .commentlist {
        width: 60%;
        margin-top: 30px;
        padding: 5px 5px 5px 10px;
        box-shadow: 0 0 4px darkgray;
    }

    .comment-line {
        width: 50%;
        display: flex;
        justify-content: space-evenly;

    }

    .commentcreatebtn {
        height: 60px;
        padding: 1px 6px;
        margin-left: 3px;
        background-color: rgb(223, 217, 217);
        border: 1px lightgray;
        border-radius: 2px;
    }

    .btn {
        padding: 1px 6px;
        margin-left: 3px;
        background-color: rgb(223, 217, 217);
        border: 1px lightgray;
        border-radius: 10px;
    }

    .btn:hover {
        background-color: rgb(172, 168, 168);
        cursor: pointer;
    }


    #myId {

        align-self: center;
        /* padding-bottom: 20px; */
        margin-right: 10px;
        height: 30px;
    }

    #myId,
    .commentId {
        margin-right: 5px;
        font-weight: bold;
        color: #05658b;
        font-size: 16px;
    }

    .createtime {
        font-size: 12px;
        color: rgb(109, 108, 108);
    }

    .cComment {
        padding-left: 15px;
        margin-top: 10px;
    }

    .upComment {
        margin-top: 5px;
    }



    .wishlist {
        height: 30px;
    }

    .wishlist svg {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        fill: transparent;
        stroke: black;
        stroke-width: 2px;


    }


    .wishlist:hover svg {
        fill: red;
        stroke: transparent;
    }
    .wishlist:active svg {
        fill: red;
        stroke: transparent;
    }

    #wish:focus {
        outline: none;
    }

    .detailClass-wish {
        padding-right: 10px;
    }

    #wish {
        width: 150px;
        height: 50px;
        cursor: pointer;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #wish:active{

    }
    #wishtag{
        text-decoration: none;
    }


    @media only screen and (max-width: 766px) {
        .comments-container {
            width: 480px;
        }

        .comments-list .comment-box {
            width: 390px;
        }

        .reply-list .comment-box {
            width: 320px;
        }
    }
</style>

<!-- end style -->
{% endblock %}
<!-- block content -->
{% block content %}
<div class="detailClass-article">
    <div id="detailClass-content">
        <!-- 유저일 시 -->
        <div id="detailClass-title">
            <h1>
                <a href="/signClass/{{myClass.classNum}}">{{myClass.classTitle}}</a>
            </h1>
        </div>
        <div class="detailClass-wish">
            {% if user and user.userId %}
            <form action="/signClass/{{myClass.classNum}}/wishlist" method="post">
                <!-- <div><button id="wish" type="submit">찜하기</button></div> -->
                <button id="wish" type="submit" class="wishlist noselect"><svg xmlns="http://www.w3.org/2000/svg"
                        width="20" height="20" viewBox="-1 -1 26 26">
                        <path class="zzim" id="heart"
                            d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                    </svg><span id="zzim" class="zzim">찜하기</span></button>
            {% else %}
            <a id="wishtag" href="/login"><button id="wish" type="button" class="wishlist noselect"><svg xmlns="http://www.w3.org/2000/svg"
                width="20" height="20" viewBox="-1 -1 26 26">
                <path class="zzim" id="heart"
                    d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
            </svg><span  class="zzim">찜하기</span></button></a>
            {% endif %}
            </form>
        </div>
        <div id="detailClass-place">
            <div class="detailClass-sub-title">클래스 장소</div>
            {{myClass.classAddr}}
        </div>
        <div id="detailClass-price">
            <div class="detailClass-sub-title">클래스 가격</div>
            {{myClass.classPrice}}
        </div>

        <div id="date">
            <div class="detailClass-sub-title">클래스 날짜</div>
            <span id="sign-db-classDate">{{myClass.classDate}}</span>
        </div>

        <div id="detailClass-contents">{{myClass.classContent}}</div>
        <!-- images -->
        {% for a in classPath %}
        <div class="detailClass-content-img">
            <img src="../../{{a.path}}" />
        </div>
        {% endfor %}
        <!-- contents -->

        <!-- not login status -->
    </div>

    <!-- if user -->
    {% if user and user.userId %}
    <div class="detailClass-functions">
        <!-- <div id="user" style="display: none">{{user.userId}}</div> -->
        <div class="detailClass-pay">
            <form id="payment-form" name="payment">
                <div id="signClass-content">
                    <div class="signClass-pick-date">
                        <div class="signClass-sub-title">option1</div>
                        <select name="classdate" id="signClass-classdate">
                            <option value="none">선택하기</option>
                        </select>
                    </div>
                    <div class="signClass-pick-qty">
                        <div class="signClass-sub-title">option2</div>
                        <select name="applicants" id="selectBox">
                            <option value="none">선택하기</option>
                        </select>
                    </div>
                    <div class="signClass-pay-btn">
                        <input type="submit" value="구매하기" onclick=" checking()" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<form name="detailclass-form" method="post">
    <fieldset>
        <legend>comment</legend>
        <ul>
            <li class="comment-line">
                <span id="myId">{{user.userId}}</span>
                <textarea name="comment" id="comment" cols="60" rows="3"></textarea>
                <input class="commentcreatebtn" type="submit" value="댓글등록"
                    onclick="javascript: form.action='/signClass/{{myClass.classNum}}/comment'" />
            </li>

            {% for comment in usercomments %}
            <li class="commentlist">
                <input type="text" id="commentNumber" name="commentNumber" value="{{comment.commentNum}}" />
                <span class="commentId">{{comment.userId}}</span>
                <span class="createtime">{{comment.createdAt}}</span>
                <div class="cComment" name="cComment">{{comment.commentContent}}</div>
                <!-- <input id="loop" type='number' name="asdf" value='{{loop.index}}'></input> -->
                <!-- {% if user.userId == comment.userId %} -->
                <span class="putBtn" name="putBtn"><button class="btn" type="button">수정</button></span>
                <span class="delBtn" name="delBtn"><input class="btn" type="submit" value="삭제"
                        onclick="javascript: form.action='/signClass/{{myClass.classNum}}/{{comment.commentNum}}/delete'" /></span>
                <div class="upComment" name="upComment">
                    <textarea name="updateComment" id="updateComment" cols="60" rows="3"></textarea>
                </div>

                <span class="inputBtn" name="inputBtn"><input class="btn" type="submit" value="수정하기"
                        onclick="javascript: form.action='/signClass/{{myClass.classNum}}/{{comment.commentNum}}/edit'" /></span>
                <span class="cancelBtn" name="cancelBtn"><button class="btn" type="button">취소</button></span>
            </li>
            <!-- {% endif %} -->
            {% endfor %}
        </ul>
    </fieldset>
</form>


<!-- else -->
<!--not login status-->
{% else %}

<!-- if끝 -->
{% endif %}
<!-- endblock -->
{% endblock %}
<!-- script block -->
{% block script %}
<script>
    const commentDate = document.getElementsByClassName("createtime");

    const loop = document.getElementById("loop");
    const upcomment = document.querySelectorAll(".upComment");
    const ccomment = document.querySelectorAll(".cComment");
    const dcomment = document.querySelectorAll(".dComment");
    const putbtn = document.querySelectorAll(".putBtn");
    const inputbtn = document.querySelectorAll(".inputBtn");
    const cancelbtn = document.querySelectorAll(".cancelBtn");
    const delbtn = document.querySelectorAll(".delBtn");
    const paymentform = document.getElementById("payment-form");
    const class_date = document.getElementById("sign-db-classDate");
    const class_cdate = date.innerText;
    const class_classdate = moment(class_cdate).format("YYYY-MM-DD");
    class_date.innerText = class_classdate;

    for (let i = 0; i < commentDate.length; i++) {
        const comdate = commentDate[i].innerText;
        const classcomdate = moment(comdate).format("YYYY-MM-DD HH:mm:ss");
        commentDate[i].innerText = classcomdate;
    }
    for (let q = 0; q < ccomment.length; q++) {
        if (ccomment == dcomment) {
            ccomment[q].style.display = "none";
        }
    }

    //   document.querySelectorAll(".putBtn").forEach((item) => {
    //     item.addEventListener("click", (e) => {
    //       upcomment.style.display = "inline-block";
    //       ccomment.style.display = "none";
    //       cancelbtn.style.display = "inline-block";
    //       putbtn.style.display = "none";
    //       inputbtn.style.display = "inline-block";
    //       delbtn.style.display = "none";
    //     });
    //   });

    for (let l = 0; l < 10; l++) {
        if (l % 2 == 0) {
            continue;
        }
        console.log(l);
    }
    for (let i = 0; i < putbtn.length; i++) {
        for (let k = 0; k < ccomment.length; k++) {
            if (!putbtn) {
                k++;
                continue;
            }
            putbtn[i].addEventListener("click", (e) => {
                upcomment[i].style.display = "inline-block";
                // dcomment[i].style.display = "none";
                cancelbtn[i].style.display = "inline-block";
                putbtn[i].style.display = "none";
                inputbtn[i].style.display = "inline-block";
                delbtn[i].style.display = "none";
                preventDefault(e)
            });
            cancelbtn[i].addEventListener("click", (e) => {
                upcomment[i].style.display = "none";
                // dcomment[i].style.display = "inline-block";
                cancelbtn[i].style.display = "none";
                putbtn[i].style.display = "inline-block";
                inputbtn[i].style.display = "none";
                delbtn[i].style.display = "inline-block";
                preventDefault(e)
            });
        }
        //   putbtn[0].addEventListener("click", () => {
        //     upcomment[5].style.display = "inline-block";
        //     ccomment[5].style.display = "none";
        //     cancelbtn[0].style.display = "inline-block";
        //     putbtn[0].style.display = "none";
        //     inputbtn[0].style.display = "inline-block";
        //     delbtn[0].style.display = "none";
        //   });
        //   cancelbtn[0].addEventListener("click", () => {
        //     upcomment[5].style.display = "none";
        //     ccomment[5].style.display = "inline-block";
        //     cancelbtn[0].style.display = "none";
        //     putbtn[0].style.display = "inline-block";
        //     inputbtn[0].style.display = "none";
        //     delbtn[0].style.display = "inline-block";
        //   });
    }

    $("#signClass-classdate").append(
        "<option value=" + class_classdate + ">" + class_classdate + "</option>"
    );

    $("#signClass-classdate").change(function () {
        var select_val = this.value;
        var js_date_object = new Date(select_val);
        console.log(js_date_object);
        class_classdate.value = js_date_object;

        for (let i = 1; i < 11; i++) {
            $("#selectBox").append(
                "<option value=" + i + ">" + i + "명</option>"
            );
        }
    });
    //   function a() {}

    function b() {
        upcomment.style.display = "none";
        ccomment.style.display = "inline-block";
        cancelbtn.style.display = "none";
        putbtn.style.display = "inline-block";
        inputbtn.style.display = "none";
        delbtn.style.display = "inline-block";
    }

    function checking() {
        const paymentForm = document.payment;
        const pick_classdate = paymentForm.classdate.value;
        const pick_applicants = paymentForm.applicants.value;

        if (pick_classdate == "none" || pick_applicants == "none") {
            alert("옵션을 선택해 주세요.");
            return false;
        } else {
            paymentform.method = "post";
            paymentform.action = "/signClass/order/{{myClass.classNum}}";
        }
    }
</script>
{% endblock %}