{% extends '../layout.html' %} {% block style %}
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
></script>

<!-- end style -->
{% endblock %}
<!-- block content -->
{% block content %}
<h1>hi</h1>
<!-- end content -->
{% endblock %}

<!-- blcok script -->
{% block script %}
<!-- end script -->
{% endblock %}
